:root {
  --bg:rgb(235, 255, 235);
  --card-ptext-size: 12px;
  /* --card-ptext-line-height: calc(1.4*--card-ptext-size); */
}

main {
  background-color: var(--bg)
}

.dummy {
  margin: 4rem 0;
}

.rect {
  background-color: rgb(71, 71, 71);
  border-radius: 1px;
  height: 100%;
  margin-left: 2rem;
  width: auto;
}

.change {
  margin: 1rem 1rem 3rem 1rem;
  width: 33%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.border-red {
  border: 6px solid rgb(255, 16, 16);
}
.border-blue {
  border: 6px solid rgb(20, 36, 250);
}
.border-green {
  border: 6px solid rgb(125, 175, 30);
}
.border-yellow {
  border: 6px solid rgb(225, 220, 0);
}
.border-purple {
  border: 6px solid rgb(150, 0, 180);
}
.border-dark {
  border: 6px solid rgb(116, 116, 116);
}

.card-bdy {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-text {
  font-size: var(--card-ptext-size);
  line-height: calc(1.25 * var(--card-ptext-line-height));
}

.card-text.toggled {
  font-size: calc(1.75 * var(--card-ptext-size));
}

.calc {
  height: 300px;
}

.operand {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

#math {
  border: 1px solid rgba(30, 143, 255, 0.8);
}

.calculator {
  margin-left: 2rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.result {
  border: 1px solid #28a745;
  border-radius: 0.1rem;
  /* padding-left: 1rem; */
}
